.tab-items
  display: flex
  flex-direction: row
  width: 100%

.tab-container
  width: 100%
  opacity: 0
  transform: translateX(100%)
  transition: opacity .5s ease,
              transform .5s ease

  &.-current
    opacity: 1
    transform: translateX(0)
