//
// Namespace para os componentes de lista de tarefas.
//

.task-list
  display: flex
  flex-direction: column
  background-color: #fff

  & > .task-item + .task-item
    margin-top: 40px

.task-item
  centralize(block)
  box-sizing: border-box
  width: 300px
  min-height: 140px
  padding: 14px
  border: 1px solid #e7e7e7
  border-radius: 8px
  background-color: #f8f8f8
  box-shadow: 0 2px 20px rgba(#000, .25)
