include ../components/modal.pug
include ../components/form.pug

+modal-container()(data-id="task-form")
  +form-container()
    +form-input('Title', 'text')(data-id="title")
    +form-input('Time', 'time')(data-id="time")
    +form-button('Add', 'submit')
