extends ./base/layout.pug

include ./components/tab.pug
include ./components/form.pug
include ./components/task-list.pug

block content
  +tab-items(['To-Do', 'Done'])
  +tab-container('To-Do')
    +form-button('Add a task')(class='-block', data-id='task-form-open')
    +task-list()
  +tab-container('Done')
    p Done

  include ./partial/task-form.pug

block template
  script#template-task-item(type='text/template')
    +task-item('{{title}}', '{{time}}')
