extends ./base/layout.pug

include ./components/task-item.pug

block content
  section.list-items

block template
  script#template-task-item(type='text/template')
    +task-item('[title]', '[time]')
